# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# Python egg metadata
*.egg-info/
*.egg

# Distribution / packaging
build/
dist/
*.wheel

# Logs and local data
*.log

# OS files
.DS_Store
Thumbs.db

# Test and coverage outputs
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# Pylint
.pylint.d/